@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.clock {
  height: 40vh;
}
.bar {
  height: 15vh;
}

.hide{
  opacity: 0;
  transition: all .3s ease;
}

.reveal:hover  .hide{
  opacity: 1!important;
}

.bottom{
  bottom: 0;
}



